<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<h1>About Us</h1>
<p>
The <%= link_to('Gmail', 'http://gmail.com', {:action => 'about'})%>
is a mailbroser
<%= link_to('Google', 'http://google.com', {:action => 'about'})%>. This
is the search engine.
</p>

