<% provide(:title, 'Help')%>
<h1>Help</h1>
<p>
Get help on the <%= link_to('Gmail', 'http://gmail.com', {:action => 'help'})%>
To get help on this sample app, see the
<%= link_to('Google', 'http://google.com', {:action => 'help'})%>. This
is the search engine.
</p>
